<div class="gtsportWorkArea">
    <form ng-submit="countrySubmit()" class="form-horizontal">
        <div id="countriesList" class="form-group gtsportListBox">
            <div class="gtsportControlArea">
                <input type="button" name="newCountry" value="New Country" class="btn btn-primary" ng-click="countrySelect('')" />
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="countrySelect(listCountry.primaryKey)" ng-repeat="listCountry in countries | orderBy: 'description'">
                        <p ng-class="{gtsportSelectedItem: selectedCountry===listCountry.primaryKey}">{{listCountry.description}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div id="countrySection" class="gtsportUserArea">
            <input type="text" name="countryDescription" ng-model="workCountry.description" placeholder="Description" class="form-control" required/>
            <label class="control-label">Region: </label>
            <select ng-model="workCountry.regionKey" class="form-control" required>
                <option value="{{listRegion.primaryKey}}" ng-repeat="listRegion in regions | orderBy: 'description'">
                    {{listRegion.description}}
                </option>
            </select>
            <input type="submit" name="countrySubmit" value="Submit" class="btn btn-primary"/>
            <input type="button" name="countryDelete" value="Delete" ng-click="countryDelete()" ng-show="countryAllowDelete()" class="btn btn-danger"/>
        </div>
    </form>
</div>
