<div class="gtsportWorkArea">
    <form ng-submit="dealerSubmit()">
        <div id="dealersList" class="gtsportListBox">
            <select ng-model="selectedDealer" ng-attr-size="{{setDealerListSize()}}" ng-change="dealerSelect()">
                <option value="{{newDealer.primaryKey}}">{{newDealer.name}}</option>
                <option value={{listDealer.primaryKey}} ng-repeat="listDealer in dealers | orderBy: 'name'">
                    {{listDealer.name}}
                </option>
            </select>
        </div>
        <div id="dealerSection" class="gtsportUserArea">
            <input type="text" name="dealerName" ng-model="workDealer.name" placeholder="Name" required /><br />
            <span>Country: </span>
            <select ng-model="workDealer.countryKey" required>
                <option value="{{listCountry.primaryKey}}" ng-repeat="listCountry in countries | orderBy: 'description'">
                    {{listCountry.description}}
                </option>
            </select><br />
            <input type="submit" name="dealerSubmit" value="Submit" />
            <input type="button" name="dealerDelete" value="Delete" ng-click="dealerDelete()" ng-show="dealerAllowDelete()" />
        </div>
    </form>
</div>