<div class="gtsportWorkArea">
    <form ng-submit="dealerSubmit()" class="form-horizontal">
        <div id="dealersList" class="form-group gtsportListBox">
            <div class="gtsportControlArea">
                <input type="button" name="newDealer" value="New Dealer" class="btn btn-primary" ng-click="dealerSelect('')" />
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="dealerSelect(listDealer.primaryKey)" ng-repeat="listDealer in dealers | orderBy: 'name'">
                        <p ng-class="{gtsportSelectedItem: selectedDealer===listDealer.primaryKey}">{{listDealer.name}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div id="dealerSection" class="gtsportUserArea">
            <input type="text" name="dealerName" ng-model="workDealer.name" placeholder="Name" class="form-control" required />
            <label class="control-label">Country: </label>
            <select ng-model="workDealer.countryKey" class="form-control" required>
                <option value="{{listCountry.primaryKey}}" ng-repeat="listCountry in countries | orderBy: 'description'">
                    {{listCountry.description}}
                </option>
            </select>
            <input type="submit" name="dealerSubmit" value="Submit" class="btn btn-primary" />
            <input type="button" name="dealerDelete" value="Delete" ng-click="dealerDelete()" ng-show="dealerAllowDelete()" class="btn btn-danger" />
        </div>
    </form>
</div>