<div name="ownedcarsWorkArea" class="gtsportWorkArea">
    <div>Owner Statistics Area<br />Needs Work</div>
    <div class="ownerCarInfoArea">
        <span class="ownerCarName">{{workCar.name}}</span>
        <div>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Category:</label> {{getCarCategoryDesc(workCar.category)}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Year:</label> {{workCar.year}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Price:</label> {{workCar.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Length:</label> {{workCar.length.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Width:</label> {{workCar.width.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Height:</label> {{workCar.height.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Width:</label> {{workCar.weight}}</span>
        </div>
        <div>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Displacement:</label> {{workCar.displacementCC}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Max Power:</label> {{workCar.maxPower}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Power RPM:</label> {{workCar.powerRPM}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Torque FTLB:</label> {{workCar.torqueFTLB.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Torque Power:</label> {{workCar.torquePower}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Drive Train:</label> {{workCar.driveTrain}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Aspiration:</label> {{workCar.aspiration}}</span>
        </div>
        <div>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Max Speed:</label> {{workCar.maxSpeed.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Accleration:</label> {{workCar.acceleration.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Braking:</label> {{workCar.braking.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Cornering:</label> {{workCar.cornering.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Stability:</label> {{workCar.stability.toFixed(1)}}</span>
        </div>
    </div>
    <form class="form-horizontal">
        <div id="ownedcarsList" class="form-group gtsportListBox carsListBox">
            <div class="gtsportControlArea">
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="ownedcarSelect(listOwnedcar.carKey)" ng-repeat="listOwnedcar in ownedcars | orderBy: 'carName'">
                        <p ng-class="{gtsportSelectedItem: selectedOwnedcar===listOwnedcar.carKey}">
                            <span class="ownedCarCount" ng-show="listOwnedcar.carCount > 0">({{listOwnedcar.carCount}}) </span>
                            {{listOwnedcar.carName}}
                        </p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
            <md-list>
                <md-list-item ng-repeat="listCurrentOwnedcar in currentOwnedcars">
                    <div id="ownedcarSection" class="gtsportUserArea carsUserArea">
                        <input type="text" name="carName" ng-model="listCurrentOwnedcar.carId" placeholder="carId" class="form-control" required />
                        <label class="col-lg-1 control-label">Color:</label>
                        <div class="col-lg-10">
                            <input type="text" name="carColour" ng-model="listCurrentOwnedcar.colour" class="form-control" />
                        </div>
                        <div class="col-lg-12">
                            <label class="col-lg-1 control-label">Max Power:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carMaxPower" ng-model="listCurrentOwnedcar.maxPower" min="0" class="form-control" />
                            </div>
                            <label class="col-lg-1">Power Level:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carPowerLevel" ng-model="listCurrentOwnedcar.powerLevel" min="0" step="any" class="form-control" />
                            </div>
                            <label class="col-lg-1">W.R. Level:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carWeightReductonLevel" ng-model="listCurrentOwnedcar.weightReductonLevel" min="0" step="any" class="form-control" />
                            </div>
                        </div>
                        <label class="col-lg-1 control-label">Date Acquired:</label>
                        <div class="col-lg-3">
                            <input type="date" name="carDateAcquired" ng-model="listCurrentOwnedcar.dateAcquired" class="form-control" />
                        </div>
                        <input type="button" name="ownedcarSubmit" value="Submit" ng-click="ownedcarSubmit(listCurrentOwnedcar.primaryKey)" class="btn btn-primary" />
                        <input type="button" name="ownedcarDelete" value="Delete" ng-click="ownedcarDelete(listCurrentOwnedcar.primaryKey)" class="btn btn-danger" />
                        {{listCurrentOwnedcar.primaryKey}}
                    </div>
                </md-list-item>
                <md-list-item>
                    <div id="ownedcarSection" class="gtsportUserArea carsUserArea">
                        <input type="text" name="carName" ng-model="newOwnedcar.carId" placeholder="carId" class="form-control" required />
                        <label class="col-lg-1 control-label">Color:</label>
                        <div class="col-lg-10">
                            <input type="text" name="carColour" ng-model="newOwnedcar.colour" class="form-control" />
                        </div>
                        <div class="col-lg-12">
                            <label class="col-lg-1 control-label">Max Power:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carMaxPower" ng-model="newOwnedcar.maxPower" min="0" class="form-control" />
                            </div>
                            <label class="col-lg-1">Power Level:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carPowerLevel" ng-model="newOwnedcar.powerLevel" min="0" step="any" class="form-control" />
                            </div>
                            <label class="col-lg-1">W.R. Level:</label>
                            <div class="col-lg-2">
                                <input type="number" name="carWeightReductonLevel" ng-model="newOwnedcar.weightReductonLevel" min="0" step="any" class="form-control" />
                            </div>
                        </div>
                        <label class="col-lg-1 control-label">Date Acquired:</label>
                        <div class="col-lg-3">
                            <input type="date" name="carDateAcquired" ng-model="newOwnedcar.dateAcquired" class="form-control" />
                        </div>
                        <input type="button" name="ownedcarSubmit" value="Submit" ng-click="ownedcarSubmit('')" class="btn btn-primary" />
                    </div>
                </md-list-item>
            </md-list>
    </form>
    <br />
</div>