<div name="ownedcarsWorkArea" class="gtsportWorkArea">
    <div>Owner Statistics Area<br />Needs Work</div>
    <div class="ownerCarInfoArea">
        <span class="ownerCarName">{{workCar.name}}</span>
        <div>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Category:</label> {{getCarCategoryDesc(workCar.category)}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Year:</label> {{workCar.year}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Price:</label> {{workCar.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Length:</label> {{workCar.length.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Width:</label> {{workCar.width.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Height:</label> {{workCar.height.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Width:</label> {{workCar.weight}}</span>
        </div>
        <div>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Displacement:</label> {{workCar.displacementCC}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Max Power:</label> {{workCar.maxPower}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Power RPM:</label> {{workCar.powerRPM}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Torque FTLB:</label> {{workCar.torqueFTLB.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Torque Power:</label> {{workCar.torquePower}}</span>
            <span class="ownerCarInfo ownerCarImportantInfo"><label class="ownerCarLabel">Drive Train:</label> {{workCar.driveTrain}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Aspiration:</label> {{workCar.aspiration}}</span>
        </div>
        <div>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Max Speed:</label> {{workCar.maxSpeed.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Accleration:</label> {{workCar.acceleration.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Braking:</label> {{workCar.braking.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Cornering:</label> {{workCar.cornering.toFixed(1)}}</span>
            <span class="ownerCarInfo"><label class="ownerCarLabel">Stability:</label> {{workCar.stability.toFixed(1)}}</span>
        </div>
    </div>
    <form class="form-horizontal">
        <div id="ownedcarsList" class="form-group gtsportListBox carsListBox">
            <div class="gtsportControlArea">
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="ownedcarSelect(listOwnedcar.carKey)" ng-repeat="listOwnedcar in ownedcars | orderBy: 'carName'">
                        <p ng-class="{gtsportSelectedItem: selectedOwnedcar===listOwnedcar.carKey}">
                            <span class="ownedCarCount" ng-show="listOwnedcar.carCount > 0">({{listOwnedcar.carCount}}) </span>
                            {{listOwnedcar.carName}}
                        </p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div id="ownedcarSection" class="gtsportUserArea carsUserArea">
            <input type="text" name="carName" ng-model="workCar.name" placeholder="Name" class="form-control" required />
            <label class="control-label col-lg-1">Manufacturer: </label>
            <div class="col-lg-11">
                <select ng-model="workCar.manufacturerKey" class="form-control" required>
                    <option value="{{listManufacturer.primaryKey}}" ng-repeat="listManufacturer in manufacturers | orderBy: 'name'">
                        {{listManufacturer.name}}
                    </option>
                </select>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Year:</label>
                <div class="col-lg-2">
                    <input type="number" name="carYear" ng-model="workCar.year" min="0" max="3000" class="form-control" />
                </div>
                <label class="col-lg-1">Price:</label>
                <div class="col-lg-7">
                    <input type="number" name="carPrice" ng-model="workCar.price" min="0" step="any" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Level:</label>
                <div class="col-lg-2">
                    <input type="number" name="carLevel" ng-model="workCar.category" min="0" max="11" class="form-control" />
                </div>
                <label class="col-lg-1 control-label">Power Points:</label>
                <div class="col-lg-3">
                    <input type="number" name="carPowerPoints" ng-model="workCar.powerPoints" min="0" max="1100" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Displ. CC:</label>
                <div class="col-lg-3">
                    <input type="text" name="carDisplacementCC" ng-model="workCar.displacementCC" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Horse Power:</label>
                <div class="col-lg-2">
                    <input type="number" name="carHorsePower" ng-model="workCar.maxPower" min="0" class="form-control" />
                </div>
                <label class="col-lg-1 control-label">Power RPM:</label>
                <div class="col-lg-3">
                    <input type="text" name="carPowerRPM" ng-model="workCar.powerRPM" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Torque FTLB:</label>
                <div class="col-lg-3">
                    <input type="number" name="carTorqueFTLB" ng-model="workCar.torqueFTLB" min="0.00" step="any" class="form-control" />
                </div>
                <label class="col-lg-1 control-label">Torque RPM:</label>
                <div class="col-lg-3">
                    <input type="text" name="carTorqueRPM" ng-model="workCar.torqueRPM" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Drive Train:</label>
                <div class="col-lg-4">
                    <select ng-model="workCar.driveTrain" class="form-control">
                        <option value=""></option>
                        <option value="4WD">4WD</option>
                        <option value="FF">FF</option>
                        <option value="FR">FR</option>
                        <option value="MR">MR</option>
                        <option value="RR">RR</option>
                    </select>
                </div>
                <label class="col-lg-1 control-label">Aspiration:</label>
                <div class="col-lg-4">
                    <select ng-model="workCar.aspiration" class="form-control">
                        <option value=""></option>
                        <option value="NA">NA</option>
                        <option value="T">T</option>
                        <option value="SC">SC</option>
                        <option value="EV">EV</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Length:</label>
                <div class="col-lg-3">
                    <input type="number" name="carLength" ng-model="workCar.length" min="0" step="any" class="form-control" />
                </div>
                <label class="col-lg-1 control-label">Width:</label>
                <div class="col-lg-3">
                    <input type="number" name="carWidth" ng-model="workCar.width" min="0" step="any" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <label class="col-lg-1 control-label">Height:</label>
                <div class="col-lg-3">
                    <input type="number" name="carHeight" ng-model="workCar.height" min="0" step="any" class="form-control" />
                </div>
                <label class="col-lg-1 control-label">Weight:</label>
                <div class="col-lg-3">
                    <input type="number" name="carWeight" ng-model="workCar.weight" min="0" step="any" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12">
                <input type="submit" name="carSubmit" value="Submit" class="btn btn-primary" />
                <input type="button" name="carDelete" value="Delete" ng-click="carDelete()" ng-show="carAllowDelete()" class="btn btn-danger" />
            </div>
        </div>
    </form>
    <br />
</div>