<div class="gtsportWorkArea">
    <form ng-submit="ownerSubmit()" class="form-horizontal">
        <div id="ownerList" class="form-group gtsportListBox">
            <div class="gtsportControlArea">
                <input type="button" name="newOwner" value="New Owner" class="btn btn-primary" ng-click="ownerSelect('')" />
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="ownerSelect(listOwner.primaryKey)" ng-repeat="listOwner in owners | orderBy: 'name'">
                        <p ng-class="{gtsportSelectedItem: selectedOwner===listOwner.primaryKey}">
                        <span ng-show="listOwner.current" class="currentOwnerListItem">C </span>
                        <span ng-show="listOwner.defaultOwner" class="defaultOwnerListItem">D </span>
                        {{listOwner.name}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div id="ownerSection" class="gtsportUserArea">
            <span ng-show="workOwner.current" class="currentOwnerListItem">  Currently Set Owner</span>
            <input type="text" name="ownerName" ng-model="workOwner.name" placeholder="Name" class="form-control" required />
            <label class="control-label"><input type="checkbox" name="ownerDefault" ng-model="workOwner.defaultOwner" /> Default Start Owner</label><br />
            <input type="submit" name="ownerSubmit" value="Submit" class="btn btn-primary"/>
            <input type="button" name="ownerDelete" value="Delete" ng-click="ownerDelete()" ng-show="ownerAllowDelete()" class="btn btn-danger"/>
            <input type="button" name="ownerSetCurrent" value="Set to Current" ng-click="ownerSetCurrent()" ng-show="ownerAllowSetToCurrent()" class="btn"/>
        </div>
    </form>
</div>

