<div class="gtsportWorkArea">
    <form ng-submit="regionSubmit()">
        <div id="regionsList" class="gtsportListBox">
            <select ng-model="selectedRegion" ng-attr-size="{{setRegionListSize()}}" ng-change="regionSelect()">
                <option value="{{newRegion.primaryKey}}">{{newRegion.description}}</option>
                <option value={{listRegion.primaryKey}} ng-repeat="listRegion in regions | orderBy: 'description'">
                    {{listRegion.description}}
                </option>
            </select>
        </div>
        <div id="regionSection" class="gtsportUserArea">
            <input type="text" name="regionDescription" ng-model="workRegion.description" placeholder="Description" required />
            <input type="submit" name="regionSubmit" value="Submit" />
            <input type="button" name="regionDelete" value="Delete" ng-click="regionDelete()" ng-show="regionAllowDelete()"/>
        </div>
    </form>
</div>