<div class="gtsportWorkArea">
    <form ng-submit="regionSubmit()" class="form-horizontal">
        <div id="regionsList" class="form-group gtsportListBox">
            <div class="gtsportControlArea">
                <input type="button" name="newRegion" value="New Region" class="btn btn-primary" ng-click="regionSelect('')" />
            </div>
            <div class="gtsportList">
                <md-list>
                    <md-list-item ng-click="regionSelect(listRegion.primaryKey)" ng-repeat="listRegion in regions | orderBy: 'description'">
                        <p ng-class="{gtsportSelectedItem: selectedRegion===listRegion.primaryKey}">{{listRegion.description}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div id="regionSection" class="gtsportUserArea">
            <input type="text" name="regionDescription" ng-model="workRegion.description" placeholder="Description" class="form-control" required />
            <input type="submit" name="regionSubmit" value="Submit" class="btn btn-primary"/>
            <input type="button" name="regionDelete" value="Delete" ng-click="regionDelete()" ng-show="regionAllowDelete()" class="btn btn-danger"/>
        </div>
    </form>
</div>